.about {
    background: #F5F5F5;
    .about-header {
        padding-top: 40px;
        .about-header_top {
            display: flex;
            align-items: center;
            margin-bottom: 80px;
            div {
                &:last-child {
                    display: flex;
                    flex-direction: column;
                    margin: 0 10px;
                    span {
                        &:first-child {
                            font-size: $font_26;
                            color: #1268B3;
                        }

                        &:last-child {
                            font-size: 66px;
                            color: #1268B3;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.about-items {
    margin-top: -45px;
    .top {
        ul.tabs {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0;
            list-style: none;
            li {
                color: #404040;
                margin-left: 70px;
                cursor: pointer;
                position: relative;
                padding-bottom: 5px;

                &.active {
                    &::before {
                        background-color: rgb(66, 113, 153);
                        bottom: -5px;
                        content: "";
                        height: 3px;
                        left: 0px;
                        position: absolute;
                        right: 0px;
                        transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
                    }
                }
            }

            .active {
                color: #1268B3!important;
            }
        }

        .panes {
            .pane {
                display: none;
                padding: 20px 0;

                &:first-child {
                    display: block; 
                }
            }

            .initiatives ,
            .central-departments {
                .card {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    transition: background-color .2s ease-in .1ms;
                    cursor: pointer;
                    .card-body {
                        div {
                            &:first-child {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                display: flex;
                                background: #1268B3;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 20px;

                                i {
                                    color: #fff;
                                    font-size: $font_26;
                                }
                            }

                            &:last-child {
                                font-size: 20px;
                                color: #000000;
                            }
                        }
                    }

                    &:hover {
                        background-color: #1268B3;
    
                        .card-body {
                            div {
                                &:first-child {
                                    background: #ffffff;
    
                                    i {
                                        color: #1268B3;
                                    }
                                }
    
                                &:last-child {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .col-md-4:first-child {
                    margin-bottom: 50px;
                }
            }
        }
    }
}