.contact-us {
    padding-top: 50px;

    .contactUs-title {
        margin-bottom: 30px;

        span {
            font-size: $font_24;
            color: #303741;
        }
    }

    .contact--form {
        background: #F8F8F8;
        border-radius: 8px;
        padding: 32px;

        @media #{$xs} {
            margin-bottom: 15px;
        }

        form {
            label {
                color: #404040;
                display: block;
            }

            input {
                width: 100%;
                margin-bottom: 40px;
                height: 30px;
            }

            textarea {
                width: 100%;
            }
        }

        .btnSend {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            .button {
                background: radial-gradient(57.82% 165.5% at 33.42% 48.55%, #1268B3 0%, #1268B3 100%);
                background: #25abd9;
                border-radius: 4px;
                border: 0;
                cursor: pointer;
                width: 90%;
                height: 32px;
                color: #fff;
                box-shadow: 0 6px 0 #2090b7, 0 5px 15px -4px #000;
                font-size: 20px;
                padding-bottom: 6px;
                transition: box-shadow .2s ease-in-out, margin-top .2s ease-in-out, opacity .2s ease-in-out;

                &:hover,
                :focus {
                    opacity: .9;
                    outline: 0;
                }

                &:active {
                    box-shadow: 0;
                    margin-top: 6px;
                }
            }
        }
    }

    .map {
        margin-bottom: 40px;

        img {
            width: 100%;
        }
    }

    .details-contact {
        .title {
            color: #303741;
            font-size: $font_24;
            font-weight: $font_weight_bold;
            margin-bottom: 30px;
        }

        .content {
            overflow: hidden;

            .innerDetails {
                float: right;
                width: 50%;

                @media #{$xs_mobile} {
                    display: block;
                    width: 100%;
                }

                div {
                    display: flex;
                    align-items: baseline;

                    &:first-child {
                        margin-bottom: 12px;
                    }

                    i {
                        font-size: $font_20;
                        color: #1268B3;

                        width: 40px;
                        height: 40px;
                        background: rgba(18, 104, 179, 0.05);
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    span {
                        color: #000000;
                        font-size: $font_20;
                        margin: 0 12px;

                        &.name-ministry {
                            color: #1268B3;
                        }
                    }
                }
            }
        }
    }

    .contactUs--section {
        margin: 40px 0;

        .main-section {
            ul.main-section__tabs {
                padding: 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    padding: 10px 20px;
                    border-radius: 6px;
                    background: rgba(18, 104, 179, 0.05);
                    cursor: pointer;
                    color: #404040;
                    font-weight: $font_weight_bold;

                    &.active {
                        color: #1268B3 !important;
                    }
                }
            }
        }

        .sub-section {
            .sub-section__panes {
                .pane {
                    display: none;
                    padding: 0;
                    color: #404040;
                    line-height: 1.8;

                    &:first-child {
                        display: block;
                    }

                    .accordion {
                        .card {
                            margin-bottom: 25px;
                            border: 0;

                            .card-header {
                                border: 0;
                                background: rgba(18, 104, 179, 0.05);

                                .card-header-title {
                                    a {
                                        color: #1268B3;
                                        font-weight: $font_weight_bold;
                                        font-size: $font_18;
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        i {
                                            font-size: $font_28;
                                            color: #fff;
                                            width: 30px;
                                            height: 30px;
                                            border-radius: 50%;
                                            background: #1268B3;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            transition: all .3s ease-in-out;
                                        }
                                    }

                                    a[aria-expanded="true"] {
                                        i {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                            }

                            .card-body {
                                .content {
                                    div {
                                        margin-bottom: 5px;

                                        span {
                                            font-size: $font_18;
                                            color: #000;
                                        }

                                        i {
                                            width: 7%;
                                            color: #A6A9AB;
                                            font-size: $font_18;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}