main {
    margin-bottom: 60px;

    .header-slider {
        height: 350px;
        .wrap {
            position: relative;
            height: 350px;
    
            .slider {
                height: 350px;
                overflow: hidden;
    
                .slider__row {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    transition: 0.5s;
    
                    .row__item {
                        display: flex;
                        align-items: center;
    
                        @media #{$large_mobile} {
                            align-items: unset;
                        }
    
                        @media #{$small_mobile} {
                            align-items: unset;
                        }
    
                        &:first-child {
                            background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.63)),url('../../img/test.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 350px;
                        }
    
                        &:nth-child(2) {
                            background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.63)),url('../../img/test1.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 350px;
                        }
    
                        .header-slider-content {
                            display: flex;
                            flex-direction: column;
                            align-items: baseline;
    
                            p {
                                margin-bottom: 20px;
    
                                &:first-child {
                                    font-size: $font_32;
                                    color: #fff;
    
                                    @media #{$large_mobile} {
                                        font-size: $font_28;
                                        margin-bottom: 10px;
                                    }
    
                                    @media #{$small_mobile} {
                                        font-size: $font_26;
                                        margin-bottom: 10px;
                                    }
                                }
    
                                &:nth-child(2) {
                                    font-size: $font_32;
                                    color: white;
                                    font-weight: $font_weight_bold;
                                    width: 40%;
    
                                    @media #{$large_mobile} {
                                        font-size: $font_28;
                                        width: 75%;
                                    }
    
                                    @media #{$small_mobile} {
                                        font-size: $font_26;
                                        width: 75%;
                                    }
                                }
                            }
    
                            a {
                                background: #1268B3;
                                border-radius: 15px;
                                text-decoration: none;
                                cursor: pointer;
                                height: 40px;
                                width: 150px;
                                line-height: 40px;
                                display: flex;
                                align-items: -1 20PX;
                                align-items: center;
                                justify-content: space-around;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .product {
        margin-top: 40px;
        margin-bottom: 60px;
        position: relative;

        .product-header {
            margin-bottom: 40px;

            p {
                &:first-child {
                    font-size: $font_32;
                    color: #404040;

                    @media #{$large_mobile} {
                        font-size: $font_28;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_26;
                    }
                }

                &:last-child {
                    font-size: $font_20;
                    color: #404040;

                    @media #{$large_mobile} {
                        font-size: $font_16;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_14;
                    }
                }
            }
        }

        .product-cards {
            direction: ltr;

            @media #{$tab_device} {
                .row {
                    .mr-b-sm {
                        margin-bottom: 20px;
                    }
                }
            }

            @media #{$large_mobile} {
                .row {
                    .mr-b-sm {
                        margin-bottom: 20px;
                    }
                }
            }

            @media #{$small_mobile} {
                .row {
                    .mr-b-sm {
                        margin-bottom: 20px;
                    }
                }
            }

            .card {
                border-radius: 33px;
                height: 330px;
                position: relative !important;
                transition: background-color .2s ease-in .1ms;
                direction: rtl;

                @media #{$small_mobile} {
                    height: 250px;
                }

                .card-body {
                    @media #{$small_mobile} {
                        flex: unset;
                    }

                    .card-title {
                        margin-bottom: 20px;
                        color: #404040;
                        font-size: $font-28;
                        line-height: 1.4;
                        letter-spacing: 1px;
                        height: 35%;

                        @media #{$large_mobile} {
                            font-size: $font_22;
                        }

                        @media #{$small_mobile} {
                            font-size: $font_22;
                        }
                    }

                    .card-text {
                        color: #404040;
                    }

                    .apply-now {
                        font-size: $font-20 !important;
                        position: absolute;
                        bottom: 40px;
                        display: flex;
                        align-items: flex-end;

                        i {
                            margin: 0 8px;
                            color: #DC2F36;
                        }

                        a {
                            color: #DC2F36;
                        }
                    }
                }

                &:hover {
                    background-color: #1268B3;

                    .card-title {
                        color: #fff;
                    }

                    .card-text {
                        color: #fff;
                    }

                    .apply-now {

                        a,
                        i {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .more {
            position: absolute;
            top: 50%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 140px;
            background: #1268B3;
            height: 90px;
            border-radius: 0 50px 50px 0;
            padding-right: 10px;

            a {
                font-size: 20px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                }
            }

            i {
                width: 34px;
                height: 34px;
                border: 2px solid #fff;
                border-radius: 50%;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
            }
        }
    }

    .news {
        background: #F5F5F5;
        padding-top: 50px;
        padding-bottom: 90px;

        .news-header {
            margin-bottom: 30px;

            p {
                font-size: $font_32;
                color: #404040;

                @media #{$large_mobile} {
                    font-size: $font_28;
                }

                @media #{$small_mobile} {
                    font-size: $font_26;
                }
            }
        }

        .news-img {
            .img {
                margin-bottom: 21px;

                img {
                    width: 100%;
                    height: 400px;
                    border-radius: 15px;
                }

                p {
                    margin-top: 5px;
                    font-size: $font-16;
                    color: rgba(24, 24, 24, 0.67);
                }
            }

            .img-content {
                p {
                    &:first-child {
                        color: #181818;
                        font-size: $font_22;
                        font-weight: $font_weight_bold;
                        margin-bottom: 15px;

                        @media #{$tab_device} {
                            font-size: $font_18;
                        }
                    }

                    &:last-child {
                        color: rgba(24, 24, 24, 0.6);
                        font-size: $font-16;

                        @media #{$tab_device} {
                            font-size: $font_12;
                        }
                    }
                }
            }
        }

        .news-card {
            margin-bottom: 25px;

            img {
                height: 185px;
                width: 100%;
                border-radius: 5px;
            }

            p {
                color: #393939;
                font-size: $font-14;
            }
        }

        .news-seeMore {
            height: 44px;
            background: linear-gradient(249.95deg, #0D3770 13.04%, #0D3770 140.32%);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: #ffffff;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        .item-alignBottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .jobs {
        background: #1268B3;
        padding: 40px 0;
        margin-top: 50px;
        height: 300px;

        .jobs-header {
            p {
                &:first-child {
                    font-size: $font_32;
                    color: #fff;
                    margin-bottom: 15px;
                    font-weight: $font_weight_bold;

                    @media #{$large_mobile} {
                        font-size: $font_28;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_26;
                    }
                }

                &:last-child {
                    font-size: $font_20;
                    color: #fff;

                    @media #{$large_mobile} {
                        font-size: $font_18;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_16;
                    }
                }
            }
        }
    }

    .jobs-2 {
        transform: translateY(-100px);

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;

            @media #{$small_mobile} {
                display: block;
            }

            .jobsBox {
                background: #FFFFFF;
                box-shadow: 0px 4px 86px rgba(0, 0, 0, 0.12);
                border-radius: 6px;
                height: 200px;
                padding: 20px 20px 10px 20px;

                @media #{$small_mobile} {
                    height: 150px;
                    border: 1px solid #eee;

                    &:first-child {
                        margin-bottom: 15px;
                    }
                }

                p {
                    &:first-of-type {
                        color: #18191F;
                        font-size: $font_24;
                        font-weight: $font_weight_bold;
                        margin-bottom: 6px;

                        @media #{$large_mobile} {
                            font-size: $font_22;
                        }

                        @media #{$small_mobile} {
                            font-size: $font_20;
                        }
                    }

                    &:nth-of-type(2) {
                        color: #A5A5A5;
                        font-size: $font_18;
                        width: 60%;
                        margin-bottom: 25px;

                        @media #{$tab} {
                            width: unset;
                        }

                        @media #{$large_mobile} {
                            font-size: $font_16;
                            margin-bottom: 20px;
                        }

                        @media #{$small_mobile} {
                            font-size: $font_14;
                        }
                    }
                }

                a {
                    font-size: $font_18;
                    color: #BE594F;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_16;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_14;
                    }
                }
            }
        }
    }

    .testimonials {
        margin-bottom: 50px;

        .testimonials-header {
            margin-bottom: 25px;

            p {
                font-size: $font_32;
                font-weight: $font_weight_bold;

                @media #{$large_mobile} {
                    font-size: $font_28;
                }

                @media #{$small_mobile} {
                    font-size: $font_26;
                }
            }
        }

        .items-testimonials {
            direction: ltr;
            margin-bottom: 100px;
        
            .slick-list {
                height: 250px;
                .slick-track {
                    padding-top: 30px;
                }
            }
        
            button {
                &.slick-arrow {
                    position: absolute;
                    border: 0;
                    padding: 0;
                    z-index: 2;
                    cursor: pointer;
                    top: 50%;
                    transform: translateY(-50%);
                    left: auto;
                    background: none;
        
                    i {
                        font-size: $font-30;
                        color: #2045704d;
                        @include transition(.2s);
                    }
                }
        
                &.slick-prev {
                    left: -40px;
        
                    @media #{$laptop} {
                        left: -20px;
                    }
        
                    @media #{$large1} {
                        left: -30px;
                    }
        
                    @media #{$lg} {
                        left: -27px;
                    }
        
                    @media #{$md} {
                        left: -25px;
                    }
        
                    @media #{$sm} {
                        left: -10px;
                    }
                }
        
                &.slick-next {
                    right: -40px;
        
                    @media #{$laptop} {
                        right: -20px;
                    }
        
                    @media #{$large1} {
                        right: -30px;
                    }
        
                    @media #{$lg} {
                        right: -27px;
                    }
        
                    @media #{$md} {
                        right: -20px;
                    }
        
                    @media #{$sm} {
                        right: -10px;
                    }
                }
            }

            .properties-card {
                width: 200px;
                height: 200px;
                border: 1px solid #D9D9D9;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                .properties-img {
                    img {
                        width: 150px;
                        // cursor: pointer;
                    }
                }
            }
        
            h3 {
                text-align: center;
            }
        }
    }

    .initiatives {
        .initiatives-header {
            margin-bottom: 60px;

            p {
                &:first-child {
                    font-size: $font_32;
                    font-weight: $font_weight_bold;

                    @media #{$large_mobile} {
                        font-size: $font_28;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_26;
                    }
                }

                &:last-child {
                    color: rgba(24, 24, 24, 0.6);
                    font-size: $font_16;

                    @media #{$large_mobile} {
                        font-size: $font_14;
                    }

                    @media #{$small_mobile} {
                        font-size: $font_12;
                    }
                }

            }
        }

        .latest-items-active {
            direction: ltr;
            margin-bottom: 100px;

            button {
                &.slick-arrow {
                    position: absolute;
                    border: 0;
                    padding: 0;
                    z-index: 2;
                    cursor: pointer;
                    top: 50%;
                    transform: translateY(-50%);
                    left: auto;
                    background: none;

                    i {
                        font-size: $font-30;
                        color: #2045704d;
                        @include transition(.2s);
                    }
                }

                &.slick-prev {
                    left: -40px;

                    @media #{$laptop} {
                        left: -20px;
                    }

                    @media #{$large1} {
                        left: -70px;
                    }

                    @media #{$lg} {
                        left: -27px;
                    }

                    @media #{$md} {
                        left: -25px;
                    }

                    @media #{$sm} {
                        left: -10px;
                    }
                }

                &.slick-next {
                    right: -40px;

                    @media #{$laptop} {
                        right: -20px;
                    }

                    @media #{$large1} {
                        right: -30px;
                    }

                    @media #{$lg} {
                        right: -27px;
                    }

                    @media #{$md} {
                        right: -20px;
                    }

                    @media #{$sm} {
                        right: -10px;
                    }
                }
            }
            
            .properties  {
                // width: 300px!important;
               
            }

            .properties-card {
                height: 140px!important;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(30, 84, 157, 0.21), inset 0px 0px 4px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 10px;
                .properties-img {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;

                    img {
                        width: 100px;
                    }

                    div {
                        text-align: end;
                        p {
                            &:first-child {
                                color: #181818;
                                font-size: 16px;
                                margin-bottom: 3px;
                            }

                            &:last-child {
                                display: flex;
                                i {
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    background: linear-gradient(252.73deg, #BE594F 6%, #911005 118.61%), linear-gradient(252.73deg, #153E9B 6%, #0D3770 118.61%);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: #fff;
                                }

                                a {
                                    margin: 0 7px;
                                    color: #911005;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .pricing {
        .properties {
            margin: 0 30px;
        }
        .properties-card {
            .plan {
                background: #F0F0F0;
                border-radius: 15px;
                text-align: center;
                height: 180px;
                cursor: pointer;
                transition: transform .6s;

                &:hover {
                    transform: scale(1.3);
                    border: 2px solid #1778F2;

                    .head {
                        i ,
                        span {
                            color: #55ACEE;
                            transition: transform .6s;
                        }
                    }
                }

                .head {
                    padding: 40px 20px;

                    i.rotation {
                        transform: rotate(347deg);
                        -webkit-transform: rotate(347deg);
                        -moz-transform: rotate(347deg);
                        -ms-transform: rotate(347deg);
                        -o-transform: rotate(347deg);
                    }

                    h3 {
                        font-weight: $font_weight_bold;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                    }

                    span {
                        font-weight: $font_weight_bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 30px;
                    }
                }
            }
        }

        .item-pricing {
            direction: ltr;
            margin-bottom: 100px;
        
            .slick-list {
                height: 250px;
                .slick-track {
                    padding-top: 30px;
                }
            }
        
            button {
                &.slick-arrow {
                    position: absolute;
                    border: 0;
                    padding: 0;
                    z-index: 2;
                    cursor: pointer;
                    top: 50%;
                    transform: translateY(-50%);
                    left: auto;
                    background: none;
        
                    i {
                        font-size: $font-30;
                        color: #2045704d;
                        @include transition(.2s);
                    }
                }
        
                &.slick-prev {
                    left: -40px;
        
                    @media #{$laptop} {
                        left: -20px;
                    }
        
                    @media #{$large1} {
                        left: -30px;
                    }
        
                    @media #{$lg} {
                        left: -27px;
                    }
        
                    @media #{$md} {
                        left: -25px;
                    }
        
                    @media #{$sm} {
                        left: -10px;
                    }
                }
        
                &.slick-next {
                    right: -40px;
        
                    @media #{$laptop} {
                        right: -20px;
                    }
        
                    @media #{$large1} {
                        right: -30px;
                    }
        
                    @media #{$lg} {
                        right: -27px;
                    }
        
                    @media #{$md} {
                        right: -20px;
                    }
        
                    @media #{$sm} {
                        right: -10px;
                    }
                }
            }
        
            h3 {
                text-align: center;
            }
        }
    }
}